*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}


#home .home-container{
    position: relative;
    width: 71%;
}
.home-container img{
    width: 100%;
    max-width: 1900px;
    height: 808px;

}
.text{
    position: absolute;
    top: 216px;
    left: 845px;
    right: 230px;
    bottom: 166px;
    color: white;
    text-align: right;
}
.text h2{
    font-size: 65px;
    max-width: 525px;
    margin-bottom: 24px;
}
.text p{
    line-height: 26px;
    margin-bottom: 32px;
}
button{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #005FAC;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
}